@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
    height: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.form a{
    text-decoration: none;
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    margin-bottom: 54px;
}
.form div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
}
.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.title-left{
    justify-self:start;
    margin-bottom: 36px;
}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.email-image{
    width: 132px;
    height: 132px;
    background-color: var(--text-input-field);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 24px;
}
.email-image img{
    width: 80px;
}
.resend{
    font-size: var(--sm);
}
.resend span {
    color: var(--very-light-pink);
}
.resend a {
    color: var(--hospital-green);
    text-decoration: none;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 22px;
}
/* .input-email{
    margin-bottom: 22px;
} */
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.secondary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    /*desde aqui*/
    position: absolute;
    bottom: 20px;
    width: 300px;
    /*hasta aqui*/
}
.save-button{
    /*desde aqui*/
    position: absolute;
    bottom: 20px;
    width: 300px;
    /*hasta aqui*/
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
.button-anchor{
    width: 100%;
}
.value{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
    background-color: var(--text-input-field);
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 22px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 26px;
    place-content: center;
}
.product-card{
    width: 100%;
}
.product-card img{
    width: 100%;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 12px;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
}
.product-info div p:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.product-info figure img{
    width: 35px;
    height: 35px;
}
.desktop-menu{
    width: 140px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul li{
    text-align: end;
    list-style: none;
    font-weight: bold;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    font-weight: unset;
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    margin-bottom: 20px;
}
.mobile-menu{
    padding: 24px;
}
.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;

}
.mobile-menu .email{
    font-weight: 300;
}
.mobile-menu ul {
    list-style: none;
    margin: 24px 0 0;
} 
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
} 
.mobile-menu ul li {
    margin-bottom: 24px;
}
.email{
    font-size: var(--sm);
}
.mobile-menu .sign-out{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.mobile-menu ul:last-child{
    margin-top: 80px;
}
.mobile-menu ul:last-child li{
    margin-bottom: 4px;
}
.title-my-order{
    font-size: var(--lg);
    margin-bottom: 40px;
}
.my-order{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.my-order-content{
    display: flex;
    flex-direction: column;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    background-color: var(--text-input-field);
    align-items: center;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 8px 24px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order p span:nth-child(2){
    font-size: var(--md);
    color: var(--very-light-pink);
}
.order p:nth-child(2){
    text-align: end;
    font-weight: 700;
}
.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure{
    margin: 0;
}
.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.orders p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.orders p span:nth-child(2){
    font-size: var(--md);
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
.orders{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 12px;
}
.orders p:nth-child(2){
    text-align: end;
    font-weight: 700;
}
.orders p:nth-child(1){
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.navbar-left ul,
.navbar-right ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 60px;
}
.navbar-left{
    display: flex;
}
.navbar-left ul{
    margin-left: 12px;
    display: none;
}
.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.navbar-email{
    display: none;
}
.bavbar-shopping-cart{
    position: relative;
}
.bavbar-shopping-cart div{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    top: -10px;
    right: -10px;
    display: grid;
    place-items: center;
}
.logo-navbar img{
    display: flex;
}
.product-detail{
    width: 100%;
    padding-bottom: 24px;
    position: relative;
}
.product-detail-close{
    background-color: var(--white);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 3px 5px;
    border-radius: 50%;
}
.product-detail-close:hover{
    cursor: pointer;
}
.product-detail > img:nth-child(2){
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail-info{
    margin: 24px 24px 0 24px;
}
.product-detail-info p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin: 4px 0;
}
.product-detail-info p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 0 0 36px 0;
}
.product-detail-info p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin: 0 0 36px 0;
}
@media (min-width: 640px){
    .form{
        justify-content: unset;
        height: unset;
    }
    .form-container{
        height: unset;
    }
    .logo{
        display: none;
    }
    .secondary-button{
        position: unset;
    }
    .save-button{
        position: unset;
    }
    .cards-container{
        grid-template-columns: repeat(auto-fill, 240px);
    }

    .product-card img{
        height: 240px;
    }
    .menu{
        display: none;
    }    
   
    .navbar-left{
        display: flex;
    }
    .navbar-left ul{
        display: flex;
    }
    .navbar-email{
        display: unset;
        color: var(--very-light-pink);
        font-size: var(--sm);
        margin-right: 12px;
    }
    .product-detail{
        width: 360px;
        position: absolute;
        right: 0;
    }
}